.task-card{
    -fx-background-color: #FE7BE5;
    -fx-alignment: center;
    -fx-opacity: 40;
    -fx-padding: 10;
    -fx-background-radius: 20;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.task-label{
    -fx-background-radius: 20;
    -fx-alignment: center;
}