.card{
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-radius: 5px;
    -fx-border-color: white;
}

.text-area{
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content:focused{
    -fx-background-color: transparent;
}


.label{
    -fx-font-scale: 10px;
    -fx-font-weight: bold;
    -fx-pref-width: 140px;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}


.transparent{
    -fx-background-color: rgba(0,0,0,0);
}