.center-panel{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.top-bar{
    -fx-alignment: center-right;
    -fx-padding: 10;
    -fx-spacing: 10px;
}

.tasks-container{
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.add-task-button{
    -fx-alignment: center;
    -fx-pref-width: 100px;
    -fx-border-color: rgba(255,255,255,0.8);
    -fx-border-radius: 5px;
    -fx-text-fill: rgba(255,255,255,0.8);
    -fx-background-color: transparent;
}

.add-task-button:hover{
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-text-fill: #313866;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-border-color: #FFFFFF;

}

.combo-box .list-view{
    -fx-background-color: #313866;
    -fx-border-radius: 5px;
    -fx-border-color: white;
}

.combo-box .arrow{
    -fx-background-color: white;
}


.combo-box .list-cell{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
}

.workspace-label{
    -fx-pref-width: 800px;
    -fx-pref-height: 30px;
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-alignment: center-left;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}